.loader {
    margin: 0 auto;
    margin-left: 430px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 40px;
}

@media (max-width: 768px) {
    .loader {
        margin: 0 auto;
    }
  }

  @media (max-width: 425px) {
    .loader {
        margin-left: 185px;
    }
  }