$main-white: #FFFFFF;
$bg-grey: #E5E5E5;
$active-blue: #2196F3;
$active-blue-hover: #1c8ce7;
$light-blue: #F1FCFF;
$text-dark: #4A4A4A;
$text-light: #A0B0B9;
$text-btn: #FFFFFF;
$border-light-grey: #DFE5EC;